@media only screen and (max-width:576px) {
    #usercardstyle {
        margin-top: -50px
    }
    ;
}

@font-face {
    font-family: 'compfont';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/jackeyfont.ttf');
}

@font-face {
    font-family: 'compfont2';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/K8x12.ttf');
}

@font-face {
    font-family: 'lite';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/lite.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Yusei Magic', sans-serif;
    color: black;
}

input,
textarea,
span,
ul,
li {
    font-family: 'Noto Sans TC', sans-serif;
}

.homeimg {
    background-image: url();
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 450px;
}

.backgroungcolor {
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.userfontfamily1 {
    font-family: 'compfont';
}

.userfontfamily2 {
    font-family: 'Yusei Magic', sans-serif;
}

.userfontfamily3 {
    font-family: 'compfont2';
}

.userfontfamily4 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.normalsize {
    font-size: 30px;
}

::placeholder {
    font-family: 'compfont2';
}

.white {
    color: white;
}

#intro .jumbotron {
    height: 50vh;
    background-color: #dceeff;
}

#intro .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header ul {
    align-items: baseline;
}

.firstnavbar {
    align-items: baseline;
}

.navbar {
    padding: 0.5rem;
}

.homesize {
    font-size: 30px;
}

.setting1 {
    margin-top: 9px;
}